<div class="bg">
    <div class="container">
    
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-sm-12">
            <div class="content">
                <h2>Profile Register</h2>
               <form [formGroup]="empForm" (ngSubmit)="saveData()">
                <div class="details">
                    <div class="left">
                        <h4>General Info</h4>
                        <div class="inp"><label for="">FirstName :</label><input type="text" placeholder="enter firstname" class="form-control" formControlName="fname" name="fname"></div>
                        <div class="inp"><label for="">LastName :</label><input type="text" placeholder="enter lastname" class="form-control" formControlName="lname" name="lname"></div>
                        <div class="inp"><label for="">Email ID :</label><input type="email" placeholder="enter email" class="form-control" formControlName="email" name="email"></div>
                        <div class="inp"><label for="">Password :</label><input type="password" placeholder="enter password" class="form-control" formControlName="password" name="password"></div>
                        <div class="inp"><label for="">Confirm Password :</label><input type="password" placeholder="confirm password" class="form-control" formControlName="conpassword" name="conpassword"></div>
                        <div class="inp"><label for="">Phone Number :</label><input type="tel" placeholder="enter Phone number" class="form-control" formControlName="phone" name="phone"></div>
                        <div class="inp"><label for="">Address :</label><textarea name="address" id="" cols="" rows="" placeholder="enter address" class="form-control" formControlName="address" name="address"></textarea></div>

                    </div>
                    <div class="border-div"></div>
                    <div class="right">
                        <h4>Personal Info</h4>
                        <div class="inp"><label for="">Age :</label><input type="number" placeholder="enter age" class="form-control" formControlName="age" name="age"></div>
                        <div class="inp"><label for="">Education :</label><input type="text" placeholder="enter education" class="form-control" formControlName="education" name="education"></div>
                        <div class="inp"><label for="">Post Code :</label><input type="text" placeholder="enter postcode" class="form-control" formControlName="post" name="post"></div>
                        <div class="coun">
                            <div class="inp"><label for="country">country :</label><select name="country" id="country" formControlName="country" name="country">
                                <option value="India">india</option>
                                <option value="saab">Saab</option>
                              </select></div>
                              <div class="inp"><label for="state">State :</label><select name="state" id="state" formControlName="state" name="state" >
                                <option value="Kerala">Kerala</option>
                                <option value="saab">Saab</option>
                                
                              </select></div>
                        </div>
                        <div class="inp"><label for="">Area :</label><input type="text" placeholder="Street/Area" class="form-control" formControlName="area" name="area"></div>
                        <div class="inp"><label for="">Message</label><textarea name="message" id="" cols="" rows="" class="form-control" formControlName="message" name="message"></textarea></div>
                        <button class="btn btn-warning">Save Details</button>   
                    </div>   
                                 
                   </div>
               </form>
            </div>

        </div>
        <div class="col-lg-3"></div>
    </div>
    
</div>