<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4 col-sm-12">
        <h2>User Data</h2>

        <div class="user-data">
          <div class="left">
            <label for="" class="info">FIRSTNAME : </label><br>
            <label for="" class="info">LASTNAME : </label><br>
            <label for="" class="info">EMAIL : </label><br>
            <label for="" class="info">PASSWORD : </label><br>
            <label for="" class="info">PHONE : </label><br>
            <label for="" class="info">ADDRESS: </label><br>
            <label for="" class="info">AGE : </label><br>
            <label for="" class="info">EDUCATION : </label><br>
            <label for="" class="info">POST : </label><br>
            <label for="" class="info">COUNTRY : </label><br>
            <label for="" class="info">STATE : </label><br>
            <label for="" class="info">AREA : </label><br>
            <label for="" class="info">MESSAGE : </label><br>


          </div>
          <div class="right">
            <label for="" class="info-value">{{empDetails.fname}}</label> <br>
            <label for="" class="info-value">{{empDetails.lname}}</label> <br>
            <label for="" class="info-value">{{empDetails.email}}</label> <br>
            <label for="" class="info-value">{{empDetails.password}}</label> <br>
            <label for="" class="info-value">{{empDetails.phone}}</label> <br>
            <label for="" class="info-value">{{empDetails.address}}</label> <br>
            <label for="" class="info-value">{{empDetails.age}}</label> <br>
            <label for="" class="info-value">{{empDetails.education}}</label> <br>
            <label for="" class="info-value">{{empDetails.post}}</label> <br>
            <label for="" class="info-value">{{empDetails.country}}</label> <br>
            <label for="" class="info-value">{{empDetails.state}}</label> <br>
            <label for="" class="info-value">{{empDetails.area}}</label> <br>
            <label for="" class="info-value">{{empDetails.message}}</label> <br>


          </div>

        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</div>